.switch {
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-color: #EFEFEF;
  transition: background-color .5s;
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
}

.circle {
  padding: 0;
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) .5s, transform cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
  border-radius: 50%;
  background-color: linear-gradient(180deg, #FFFFFF 0%, #E8EAEA 100%);
}

.switched {
  transform: translateX(28px)
}

.switchedBg {
  background-color: #8BAA36;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .switch {
    position: fixed;
    bottom: -130px;
    left: -110px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1239px) {
  .switch {
    position: fixed;
    bottom: -110px;
    left: -210px;
  }
}
